<%= form_with model: @order, local: true do |form| %>

  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@order.errors.count, "error") %> prohibited
        this order from being saved:
      </h2>
      <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :customer_name %><br>
    <%= form.text_field :customer_name %>
  </p>

  <p>
    <%= form.label :mobile %><br>
    <%= form.text_field :mobile %>
  </p>

  <p>
    <%= form.label :status %><br>
    <%= form.text_field :status, value: @order.status.present? ? @order.status : "Open" %>
  </p>

   <p>
    <%= form.label :notified %><br>
    <%= form.text_field :notified, value: @order.notified.present? ? @order.notified : false%>
  </p>


  <p>
    <%= form.submit %>
  </p>

<% end %>